## Lists
- mutable sequence of values
- List items are **indexed**, the first item has index [0],
- to store multiple items of **different types** in a single variable.
- List items are **ordered, changeable, and allow duplicate values**.

INDEXING:
- list[i]        # Get item at index i
- list[-i]       # Get item i positions from end

SLICING:
- list[start:stop]       # Items from start to stop-1
- list[start:]           # Items from start to end
- list[:stop]            # Items from beginning to stop-1
- list[:]                # Shallow copy of entire list
- list[start:stop:step]  # Every step-th item from start to stop-1
- list[::-1]             # Reverse the list
- list[::step]           # Every step-th item

REMEMBER:
- Indices start at 0
- Negative indices count from the end (-1 is last)
- Stop index is EXCLUSIVE
- Slicing never raises IndexError (returns empty list if out of range)
- Slicing creates a new list (shallow copy)

In [3]:
x = [True, "two", 3, [4j, 5, "six"], None]

### List Indexing

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "elderberry", "fig", "grape"]


# Positive indexing (starts at 0)
print(fruits[0])  # 'apple' - first item
print(fruits[3])  # 'date' - fourth item
print(fruits[6])  # 'grape' - seventh item

# Negative indexing (starts at -1 from the end)
print(fruits[-1])  # 'grape' - last item
print(fruits[-2])  # 'fig' - second to last
print(fruits[-7])  # 'apple' - seventh from end (same as first)

apple
date
grape
grape
fig
apple

### List Slicing

In [14]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Syntax: list[start:stop]  (stop is EXCLUSIVE)
print(numbers[2:5])  # [2, 3, 4] - from index 2 to 5 (exclusive)
print(numbers[0:3])  # [0, 1, 2] - first three items
print(numbers[4:7])  # [4, 5, 6] - from index 4 to 7 (exclusive)

# Negative indices in slicing
print(numbers[-5:-2])  # [5, 6, 7] - from -5 to -2 (exclusive)
print(numbers[-3:])  # [7, 8, 9] - last three items

[2, 3, 4]
[0, 1, 2]
[4, 5, 6]
[5, 6, 7]
[7, 8, 9]

#### Slicing with defaults

In [ ]:
# Omitting start (defaults to 0)
print(numbers[:4])  # [0, 1, 2, 3] - from beginning to index 4
print(numbers[:7])  # [0, 1, 2, 3, 4, 5, 6] - first seven items

# Omitting stop (defaults to end of list)
print(numbers[5:])  # [5, 6, 7, 8, 9] - from index 5 to end
print(numbers[3:])  # [3, 4, 5, 6, 7, 8, 9] - from index 3 to end

# Omitting both (creates a copy)
print(numbers[:])  # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] - full copy

####  Slicing with steps

In [22]:
# Syntax: list[start:stop:step]
print(numbers[::2])  # [0, 2, 4, 6, 8] - every second item
print(numbers[1::2])  # [1, 3, 5, 7, 9] - every second item starting from index 1
print(numbers[::3])  # [0, 3, 6, 9] - every third item

# Step with start and stop
print(numbers[1:9:3])  # [1, 4, 7] - from 1 to 9, every third item

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[0, 3, 6, 9]
[1, 4, 7]

#### Negative step

In [21]:
# Reverse entire list
print(numbers[::-1])  # [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
print( fruits[::-1] )  
# ['grape', 'fig', 'elderberry', 'date', 'cherry', 'banana', 'apple']

# Reverse with step
print(numbers[::-3])  # [9, 6, 3, 0] - every third item, reversed

# Reverse a slice
print(numbers[8:3:-2])  # [8, 6, 4] - from 8 to 3, every second, backwards

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
['grape', 'fig', 'elderberry', 'date', 'cherry', 'banana', 'apple']
[9, 6, 3, 0]
[8, 6, 4]

#### Modify with Slicing

In [26]:
letters = ["a", "b", "c", "d", "e", "f"]

# Replace a slice
letters[1:3] = ["B", "C"]
print(letters)  # ['a', 'B', 'C', 'd', 'e', 'f']

# Replace with different length
letters[2:4] = ["X", "Y", "Z"]
print(letters)  # ['a', 'B', 'X', 'Y', 'Z', 'e', 'f']

# Delete a slice
letters[3:5] = []
print(letters)  # ['a', 'B', 'X', 'e', 'f']

# Insert without replacing (empty slice)
letters[2:2] = ["INSERT"]
print(letters)  # ['a', 'B', 'INSERT', 'X', 'e', 'f']

['a', 'B', 'C', 'd', 'e', 'f']
['a', 'B', 'X', 'Y', 'Z', 'e', 'f']
['a', 'B', 'X', 'e', 'f']
['a', 'B', 'INSERT', 'X', 'e', 'f']

#### Common Patterns with Slicing

In [ ]:
data = [10, 20, 30, 40, 50, 60, 70, 80, 90]

# First half
first_half = data[: len(data) // 2]
print(first_half)  # [10, 20, 30, 40]

# Second half
second_half = data[len(data) // 2 :]
print(second_half)  # [50, 60, 70, 80, 90]

# Remove first element
without_first = data[1:]
print(without_first)  # [20, 30, 40, 50, 60, 70, 80, 90]

# Remove last element
without_last = data[:-1]
print(without_last)  # [10, 20, 30, 40, 50, 60, 70, 80]

# Palindrome check (using slicing)
word = "racecar"
is_palindrome = word == word[::-1]
print(is_palindrome)  # True

In [ ]:
### list methods
print(dir(x)[:3])

# see list methods
[fct for fct in dir(x) if "__" not in fct]  # exclude __dunder__

['__add__', '__class__', '__class_getitem__']

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#### Element extraction vs Subsetting
Knowing the difference between element extraction and subsetting a sequence (creating a subsequence) is crucial.

In [ ]:
x = [9, 3, 4]

# extraction (indexing with a single integer)
print(x[0],type(x[0]))

# subsetting (indexing with a slice), gives the object of the same type as x (here, a list)
print(x[0:1], type(x[0:1]))

9 <class 'int'>
[9] <class 'list'>

### List Methods

In [4]:
print(dir(x)[:3])

# see list methods
[fct for fct in dir(x) if "__" not in fct]  # exclude __dunder__

['__add__', '__class__', '__class_getitem__']

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

<details>
<summary> List methods - Click to expand</summary>

append()    # Adds an element at the end of the list  <br>
clear()	        # Removes all the elements from the list <br>
copy()          # Returns a copy of the list <br>
count()	       # Returns the number of elements with the specified value <br>
extend()	  # Add the elements of a list (or any iterable), to the end of the current list <br>
index()	        # Returns the index of the first element with the specified value <br>
insert()	    # Adds an element at the specified position <br>
pop()	        # Removes the element at the specified position <br>
remove()	# Removes the item with the specified value <br>
reverse()	 # Reverses the order of the list <br>
sort()	        # Sorts the list <br>

</details>

#### list constructor

In [ ]:
# list constructor list()
names = list(("John", "Marco", "Marry", "Julia", "John"))  # note the double round-brackets
# the constructor is an alternative of
names2 = ["John", "Marco", "Marry", "Julia", "John"]
print(names)

['John', 'Marco', 'Marry', 'Julia', 'John']

#### extend, append, pop, remove

In [ ]:
names = list(
    ("John", "Marco", "Marry", "Julia", "John")
)


names[0] = "Johannes"  # type: ignore # updates the list/ replace a value lists are mutable
print(names)

names[0:2] = ["Hannah", "Ria"]  # type: ignore # replace first two
print(names)

names.extend(["Frederik", "Youssuf"]) # type: ignore # for multiple elements
print(names)

names.append("Latifa") # for one element
print(names)

names.pop()  # drops last entry
print(names)

names.remove("Ria")  # removes Ria
print(names)

['Johannes', 'Marco', 'Marry', 'Julia', 'John']
['Hannah', 'Ria', 'Marry', 'Julia', 'John']
['Hannah', 'Ria', 'Marry', 'Julia', 'John', 'Frederik', 'Youssuf']
['Hannah', 'Ria', 'Marry', 'Julia', 'John', 'Frederik', 'Youssuf', 'Latifa']
['Hannah', 'Ria', 'Marry', 'Julia', 'John', 'Frederik', 'Youssuf']
['Hannah', 'Marry', 'Julia', 'John', 'Frederik', 'Youssuf']

#### Concatenate lists

In [102]:
m = ["herbert", "james"]
o = ["murat", "gaston"]

# append one element to a list
m.append("sasha") 

# concatenate lists
m2 = m + o # concat

print(m)
print(m2)

['herbert', 'james', 'sasha']
['herbert', 'james', 'sasha', 'murat', 'gaston']

#### insert

In [103]:
# insert an element in a list at a specific index
o.insert(0, "ferdinand")
o.insert(2, "lutz")
print(o)

['ferdinand', 'murat', 'lutz', 'gaston']

#### index

In [104]:
# gives index of the value "gaston" back
print(o.index("gaston"))

3

In [105]:
# number of gastons in a list
print(o.count("gaston"))

1

In [112]:
print(o.pop()) # removes and returns the last element

ferdinand

#### sort, sorted
- sorted() function has an optional parameter called ‘key’ which takes a function as its value.

In [119]:
cars = ["Ford", "BMW", "Volvo"]
cars.sort()
cars

['BMW', 'Ford', 'Volvo']

In [ ]:
x = [2, 3, 89, 4, 9, 1]
print(sorted(x))  # temporarily sorted
print(x)

s = ["hello", "ciao", "by", "see you"]
sorted(s, key=len)  # sorts by len()

[1, 2, 3, 4, 9, 89]
[2, 3, 89, 4, 9, 1]

['by', 'ciao', 'hello', 'see you']

In [121]:
cars = ["Ford", "BMW", "Volvo"]
cars.reverse()
cars

['Volvo', 'BMW', 'Ford']

In [ ]:
x = [2, 3, 89, 3, 9, 1]

# sorts the original list permanently, from smallest to highest value or reversed
x.sort(reverse=True)  
print(x)

print(x.count(3))  # counts the occurrences

[89, 9, 3, 3, 2, 1]
2

#### lambda sort

In [ ]:
name_list = ["Zen Jack", "Luigi Austin", "Ben Benson", "John Ann"]
print( "Original list", name_list )  

# sort by last name
name_list.sort(key=lambda x: x.split()[1])
print("Sorted name list", name_list)

Original list ['Zen Jack', 'Luigi Austin', 'Ben Benson', 'John Ann']
Sorted name list ['John Ann', 'Luigi Austin', 'Ben Benson', 'Zen Jack']

In [143]:
# sort by second element of the tuple and descending biggest to smallest
tup_lst = [(1,4), (4,7), (2, 7), (9, 13)]
tup_lst.sort(key=lambda x: x[1], reverse=True)
print(tup_lst)

[(9, 13), (4, 7), (2, 7), (1, 4)]

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6]
numbers.clear()  # clears the whole list
numbers

[]

### in, len

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(1 in numbers)  # is there a "1" in "numbers"?

numbers = [1, 2, 3, 4, 5]
print(len(numbers))

True
5

### Iterate over List

In [ ]:
### iterate over a list
supplies = ["pens", "staplers", "flamethrowers", "binders"]
for x in supplies:
    print(x)

### enumarate()
enumerate() will return two values: the index and the item in the list.

In [ ]:
supplies = ["pens", "staplers", "flamethrowers", "binders"]
for index, item in enumerate(supplies):
    print(index, item)

0 pens
1 staplers
2 flamethrowers
3 binders

### Delete Duplicates

In [152]:
duplicates = [1, 1, 4, 4, 5, 6, 8]
list(set(duplicates)) # set removes duplicates

[1, 4, 5, 6, 8]

## List Comprehension
- Shorter, more readable and faster than the for loop version
- Syntax: `newlist = [i for i in items if condition]`

In [122]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

[fruit for fruit in fruits if "a" in fruit]

['apple', 'banana', 'mango']

In [ ]:
[x for x in range(0,11) if  x%2 == 0]

[0, 2, 4, 6, 8, 10]

In [ ]:
lst = [32, 65, 104, 212]

# a list of converted elements can be produced like this or...
def FahrenheitToCelsius(t):
    return (t * 9 / 5) + 32

print(list(map(FahrenheitToCelsius, lst)))

# and even a lambda fct is more laborious
fahrenheit = lambda t: (t * 9 / 5) + 32
print(list(map(fahrenheit, lst)))

# than a list comprehension
[(t * 9 / 5) + 32 for t in lst]

[89.6, 149.0, 219.2, 413.6]
[89.6, 149.0, 219.2, 413.6]

[89.6, 149.0, 219.2, 413.6]

In [ ]:
# List comprehensions allow ***if-else*** conditions inside them.
numbers = [1, 2, 3, 4, 5]
result = ["Even" if num % 2 == 0 else "Odd" for num in numbers]
print(result)

['Odd', 'Even', 'Odd', 'Even', 'Odd']

### For-Loop vs Comprehension

In [159]:
# for loop
squares = []
for i in range(11): # for loop 
    squares.append(i * i) # adding items
    
print(squares)

# all can be done in one line with comprehensions
odd_squares = [x * x for x in range(11)]
odd_squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Comprehensions for different data types

In [ ]:
# Comprehensions work for different data types
dict_comp = {i: i * i for i in range(10)}  # dictionary -  key: value and curly brackets
list_comp = [x * x for x in range(10)]  # list brackets
set_comp = {i % 3 for i in range(10)}  # set - curly brackets no key
gen_comp = (2 * x + 5 for x in range(10))  # generator - parentheses

In [165]:
type(set_comp)
set_comp

{0, 1, 2}

In [163]:
type(gen_comp)
[x for x in gen_comp]

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

### Conditional Expression + List Comprehension

In [172]:
# [f(x) if condition else g(x) for x in sequence]
xs = [1, 2, 3, None]
[x**2 if x is not None else '' for x in xs]

[1, 4, 9, '']

In [ ]:
odds = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[e**2 for e in odds if e > 3 and e < 17]

[25, 49, 81, 121, 169, 225]

In [ ]:
# generate lists by applying an expression to each item in an iterable and then filters
even_numbers = [x**2 for x in range(10) if x % 2 == 0 and x != 0]
print(even_numbers)

[4, 16, 36, 64]

In [ ]:
"""matrix product of a, b of length n x n"""
# list comprehension can get messy, and un-readable
c = [ sum(a[n * i + k] * b[n * k + j] for k in range(n)) for i in range(n) for j in range(n) ]

# think about readability
c = []
for i in range(n):
    for j in range(n):
        ij_entry = sum(a[n * i + k] * b[n * k + j] for k in range(n))
        c.append(ij_entry)
    return c

## Identifying the Differences in Lists

In [ ]:
list_1 = [1, 3, 5, 7, 8]
list_2 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

solution_1 = list(set(list_2) - set(list_1)) 
solution_2 = list(set(list_1) ^ set(list_2))  # symmetric difference operator (^)
solution_3 = list(set(list_1).symmetric_difference(set(list_2)))  # symmetric difference methods

print(f"Solution 1: {solution_1}")
print(f"Solution 2: {solution_2}")
print(f"Solution 3: {solution_3}")

Solution 1: [9, 2, 4, 6]
Solution 2: [2, 4, 6, 9]
Solution 3: [2, 4, 6, 9]

## Nested Lists & Matrices

In [ ]:
a = ["a", "b", "c"]
b = [1, 2, 3]

x = [a, b] # list of lists
y = a + b # concatenation

print(x)
print(y)

[['a', 'b', 'c'], [1, 2, 3]]
['a', 'b', 'c', 1, 2, 3]

In [208]:
[[c for c in range(3)] for r in range(5)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
# 3x3 Matrix with Values 1–9
[[r * 3 + c + 1 for c in range(3)] for r in range(3)]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Matrix Indexing

In [3]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# row, column
matrix[0][1] = 20  # change value to 20 [row][item]

print(matrix[2][1])
matrix

8

[[1, 20, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
print(matrix[0][1])  # access the matrix[first row][second item]
matrix[2][1] = [22, 65]  # change the values in the nested matrix - list
matrix[2][2] = 90, 100  # change the values in the nested matrix - tuple
matrix[2][0] = {"age": "22", "life_expect": "65"}  # puts a dictionary in the list
matrix

20

[[1, 20, 3],
 [4, 5, 6],
 [{'age': '22', 'life_expect': '65'}, [22, 65], (90, 100)]]

In [7]:
print(matrix[2][0].get("age"))  # gets the value of the key age out of the nested dict

22

In [ ]:
for row in matrix:
    for item in row:
        print(item)

1
20
3
4
5
6
7
8
9
{'age': '22', 'life_expect': '65'}
[22, 65]
(90, 100)

### Flattening Matrices

In [220]:
### Flatten List of Lists or Matrices
m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten = [num 
           for row in m 
           for num in row
           ]
print(flatten)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [247]:

import functools
import time

def timer(func):
    @functools.wraps(func)
    def wrapper_timer(*args, **kwargs):
        tic = time.perf_counter()
        value = func(*args, **kwargs)
        toc = time.perf_counter()
        elapsed_time = toc - tic
        p_time = elapsed_time * 1000
        print(f"Elapsed time: {p_time:0.4f} ms")
        return value

    return wrapper_timer

In [ ]:
m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# argument [] sets an initial value to start the concatenation
sum(m, [])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [239]:
from itertools import chain
m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

print(chain.from_iterable(m))
list(chain.from_iterable(m))

<itertools.chain object at 0x7bd254cc1cf0>

[1, 2, 3, 4, 5, 6, 7, 8, 9]

###  pandas flattening 
Flattening a list converts a nested list structure into a single, one-dimensional list.

In [ ]:


l = [0, 1, 2, [3, 4, 5, [6, 7, 8]]]
m = list(flatten(l))
m

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
from itertools import chain
from pandas.core.common import flatten 

@timer
def chain_flat(matrix):
    list(chain.from_iterable(matrix))
    pass 



@timer
def flatten_concatenation(matrix):
    flat_list = []
    for row in matrix:
        flat_list += row
    pass


@timer
def flatten_extend(matrix):
    flat_list = []
    for row in matrix:
        flat_list.extend(row)
    pass


@timer
def sum_add(matrix):
    sum(matrix, [])
    pass 

@timer
def pandas_flatten(matrix):
    flatten(matrix)
    pass

m = [[c for c in range(300)] for r in range(500)]


pandas_flatten(m)
flatten_concatenation(m)
flatten_extend(m)
chain_flat(m)
sum_add(m)

ModuleNotFoundError: No module named 'pandas'

## List of Tuples

In [ ]:
increasing_pairs = [
    (x, y)  # only pairs with x < y,
    for x in range(10)  # range(lo, hi) equals
    for y in range(x + 1, 10)
]  # [lo, lo + 1, ..., hi - 1]

increasing_pairs

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 8),
 (7, 9),
 (8, 9)]

In [ ]:
friendship_pairs = [ (0, 1), (0, 2), (1, 2), (1, 3), (2, 3), (3, 4), (4, 5), (5, 6), (5, 7), (6, 8), (7, 8), (8, 9), ]

print(friendship_pairs[0:6])
print(type(friendship_pairs[0]))

[(0, 1), (0, 2), (1, 2), (1, 3), (2, 3), (3, 4)]
<class 'tuple'>


## Tuple 
- is ordered and IMMUTABLE-> they're indexed
- allows duplicate values 
- use them when you need an ordered sequence of values that never changes.
- because they are immutable, using tuples is slightly faster than code using lists.
- Tuples are a convenient way to return multiple values from functions

In [271]:
t1 = (1, 2, 4)  # tuples are unchangeable
t2 = 1, 2, 4  # also a tuple
t3 = ("abc", 34, True, 40, "male")
t4 = ("apple",)  # tuple with one item - mind the comma

# numbers[1] = 8             # TypeError b/c unchangeable

print(type(t1[2]))  # item with index 2
print(type(t2))
print(type(t3))
print(type(t4))

<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
#  Tuple Methods
numbers = (1, 2, 3, 3)
print(numbers.count(3))  # count() the occurrences of the value 3
print(numbers.index(3))  # returns the position of element in the ()

2
2

#### Unpack a tuple

In [ ]:
# tuple unpacking
mytuple = 1, 2

# unpacking 
x, y = mytuple
print(x, y)

# also allows for easy swapping of values
x, y = y, x
print(x, y)

1 2
2 1

In [ ]:
# If we want to unpack all the values of an iterable to a single variable, we must set up a tuple,
# hence adding a simple comma will be enough
(*string,) = range(7)
print(string)

('abc', 34, True, 40, 'male')
('apple',)
<class 'tuple'>
[0, 1, 2, 3, 4, 5, 6]

In [ ]:
def sum_and_product(x, y):
    return (x + y), (x * y)


sp = sum_and_product(2, 3)  # get a tuple return
s, p = sum_and_product(2, 3)  # get single values from returned tuple

print(sp)
print(s, p)

(5, 6)
5 6

## Range

Objects defi ned by calling range(from, to) or range(from, to, by) represent arithmetic progressions of integers.

In [ ]:
print(list(range(0, 5)))  # from 0 to 5 (exclusive) by 1
print(list(range(10, 0, -1)))  # from 10 to 0 (exclusive) by -1
print(range(0, 10)[-1])  # extract from range

[0, 1, 2, 3, 4]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
9

## Sets
- collection  of distinct elements, which is both unordered and unindexed
- set items are unordered, unchangeable, and do not allow duplicate values.
- **If we have a large collection of items that we want to use
for a membership test, a set is more appropriate than a list**
- Sets are used for membership testing and eliminating duplicate entries.

In [ ]:
s = set(list(map(int, input().split())))
s

set()

In [ ]:
set2 = {1, 2}  # directly
l = ["a", "b"]
set2 = set(l)  # from list
set2.add("c")
set2.add((3, 5))  # add tuple
set2.update([1, 7, 9], {99, 102})  # add elements of iterable
set2.discard(10)  #  If that value is not present, discard() does nothing
set2.remove(7)  # remove() will raise a KeyError exception when value is not present
set2

{(3, 5), 1, 102, 9, 99, 'a', 'b', 'c'}

In [ ]:
set2.pop()  # removes and return an arbitrary element from the set

1

### intersection, difference, union

In [ ]:
a = {2, 4, 5, 9}
b = {2, 4, 11, 12}
a.intersection(b)  # Values which exist in a and b
a.difference(b)  # Values which exist in a but not in b, alternative: a-b
b.difference(a)  # Values which exist in a but not in b, alternative: b-a
a.union(b)  # Values which exist in a or b, alternative: a | b

{2, 4, 5, 9, 11, 12}

In [ ]:
# .symmetric_difference() returns what's in and but not in both
a.symmetric_difference(b)
a.difference(b).union(b.difference(a))  # what sym_diff does
a ^ b  # shortcut

{5, 9, 11, 12}

In [ ]:
# union() and intersection() functions are symmetric methods
a.union(b) == b.union(a)
a.intersection(b) == b.intersection(a)
a.difference(b) == b.difference(a)

False

In [ ]:
item_list = [1, 2, 3, 1, 2, 3]  # 6 elements
item_set = set(item_list)  # in a set there is noe duplicates
len(item_set)  # only 3 distinct items

3

In [ ]:
# The new object will have a “set” type, if you want it to be a list convert back to list
# filtered only distinct items
list(item_set)

[1, 2, 3]

In [ ]:
# use the zip fct. together with unpacking operator * to separate tuples.
pairs = [("a", 1), ("b", 2), ("c", 3)]
letters, numbers = zip(*pairs)
print(letters)
print(numbers)

('a', 'b', 'c')
(1, 2, 3)

## Dictionary 
- contain key-value pairs
- changeable, ordered, indexed 
- keys have to be unique
- values can be anything

In [ ]:
customer = {
    "name": "John Smith",  # key - value pair
    "age": 30,  # each key must be unique
    "is_verified": True,  # key can have any value
}

# dictionary constructor
x = dict(name="John", age=36, country="Norway")  # less Pythonic


print(x)
customer["name"]  # get value from dict

{'name': 'John', 'age': 36, 'country': 'Norway'}

'John Smith'

In [ ]:
customer["name"] = "Jack Smith"  # change value
print(customer["name"])  # gives the value of the key "name" = John Smith
print(customer.get("birthdate", "someday") )  # get does not produce an error if no birthdate is in the dict
customer["status"] = "active"  # adds new key-value pair
customer.update({"name": "John Smith"})
customer.pop("age")  # remove key
print(customer)

Jack Smith
someday
{'name': 'John Smith', 'is_verified': True, 'status': 'active'}

In [ ]:
## key is the default, no need to reference it
for key in customer:
    print(key)

# get the values directly if keys are not needed
for val in customer.values():
    print(val)

name
is_verified
status
John Smith
True
active

In [ ]:
# keys is checked by default
# The in operator checks whether a given key exists
print("age" in customer, "is_verified" not in customer, "name" in customer)

if "gender" not in customer:  # is there a certain key
    customer["gender"] = "male"  # if not, set one

# see by joining the default return of the dictionary -- it's the keys
" ".join( customer )

False False True

'name is_verified status gender'

### get() has default / fallback value
<details>

- get() has a default parameter that can be used as a fallback. 
- the EAFP(easier to ask for forgivness than for permission) principle suggests that right away, <br>
you should do what you expect to work. If it doesn’t work and an exception happens, <br>
then just catch the exception and handle it appropriately.<br>
- In the following you could catch the error with `try ... except KeyError: ...` or even more <br>
consice use the default parameter.
-  Avoid explicit key in dict checks when testing for membership.
  
</details>

In [ ]:
# get the value of "name" key or a fallback value if theres is no such key
name_for_userid = {
    382: "Alice",
    950: "Bob",
    590: "Dilbert",
}


def greeting(userid):
    return f"Hi {name_for_userid.get(userid, 'there')}!"


print(greeting(382))
print(greeting(372))

Hi Alice!
Hi there!

### setdefault

In [ ]:
# asks for the value of "color" if there is no such key its sets the key-value pair
customer.setdefault("color", "white")
customer

{'name': 'John Smith',
 'is_verified': True,
 'status': 'active',
 'gender': 'male',
 'color': 'white'}

### dictionary function

In [ ]:
print(customer.keys())  # returns keys of the dict
print(customer.values())  # returns values
print(customer.items())  # returns both

dict_keys(['name', 'is_verified', 'status', 'gender', 'color'])
dict_values(['John Smith', True, 'active', 'male', 'white'])
dict_items([('name', 'John Smith'), ('is_verified', True), ('status', 'active'), ('gender', 'male'), ('color', 'white')])

### sort dictionaries with key funcs

In [ ]:
xs = {"a": 4, "c": 2, "b": 3, "d": 1}
# lexicographical ordering, sorts by keys
sorted_by_key = sorted(xs.items())
print(sorted_by_key)

# sort by values with key funcs which uses the values x[...] as the thing to sort by
sorted_by_value = sorted(xs.items(), key=lambda x: x[1])
print(sorted_by_value)

# lambda allowas for more customizing
value_reversed = sorted(xs.items(), key=lambda x: x[1], reverse=True)
print(value_reversed)

# the operator modul implements some of the key funcs functionality with functions
import operator

sorted(xs.items(), key=operator.itemgetter(1))

[('a', 4), ('b', 3), ('c', 2), ('d', 1)]
[('d', 1), ('c', 2), ('b', 3), ('a', 4)]
[('a', 4), ('b', 3), ('c', 2), ('d', 1)]

[('d', 1), ('c', 2), ('b', 3), ('a', 4)]

In [ ]:
# popitem()
customer.popitem()  # removes the last inserted item
customer.items()

# del item
del customer["status"]  # deletes specified key
print(customer.items())

# clear
customer.clear()  # empties the dictionary
print(customer.items())

# del dict
del customer  # deletes the dictionary
print(customer.items())

dict_items([('name', 'John Smith'), ('is_verified', True), ('gender', 'male')])
dict_items([])

NameError: name 'customer' is not defined

### zip
Iterate over several iterables in parallel, producing tuples with an item from each one.

In [ ]:
stocks = ["BMW", "IBM", "SHELL"]
prices = [2175, 1127, 2750]
dictionary = dict(zip(stocks, prices))

print(dictionary)

{'BMW': 2175, 'IBM': 1127, 'SHELL': 2750}
('BMW', 2175)
('IBM', 1127)
('SHELL', 2750)

### dict comprehension

In [ ]:
dial_codes = [
    (880, "Bangladesh"),
    (55, "Brazil"),
    (86, "China"),
    (91, "India"),
    (62, "Indonesia"),
    (81, "Japan"),
    (234, "Nigeria"),
    (92, "Pakistan"),
    (7, "Russia"),
    (1, "United States"),
]

# we could use the dict constructor but here want to swap code and country
country_dial = {country: code for code, country in dial_codes}
country_dial_if = {country: code for code, country in dial_codes if country[0] != "B"}
print(country_dial)
print(country_dial_if)

# or add a condition and sort and apply the upper fct.
country_upper = {
    code: country.upper() for country, code in sorted(country_dial.items()) if code < 70
}
print(country_upper)

{'Bangladesh': 880, 'Brazil': 55, 'China': 86, 'India': 91, 'Indonesia': 62, 'Japan': 81, 'Nigeria': 234, 'Pakistan': 92, 'Russia': 7, 'United States': 1}
{'China': 86, 'India': 91, 'Indonesia': 62, 'Japan': 81, 'Nigeria': 234, 'Pakistan': 92, 'Russia': 7, 'United States': 1}
{55: 'BRAZIL', 62: 'INDONESIA', 7: 'RUSSIA', 1: 'UNITED STATES'}

In [ ]:
dict1 = {"a": 1, "b": 2, "c": 3, "d": 4, "e": 5}

# multiply each value in the dictionary
{k: v * 20 for (k, v) in dict1.items()}

{'a': 20, 'b': 40, 'c': 60, 'd': 80, 'e': 100}

### index() to get a key from a value

In [ ]:
my_dict = {"java": 100, "python": 112, "c": 11}
idx = list(my_dict.values()).index(100)  # get index where value '100'
list(my_dict.keys())[idx]  # look at key at this index

'java'

### coping a dictionary

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}

# car2 is just a reference to car
car2 = car

# changes in car happen to also to car2
car.update({"brand": "Audi"})
print(car2.items())

# make a proper copy of car
car3 = car.copy()

# change to car does not apply to car3
car["brand"] = "Mercedes"

print(car.items())
print(car3.items())

car4 = dict(car)  # another method to make a copy
print(car4.items())

dict_items([('brand', 'Audi'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Mercedes'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Audi'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Mercedes'), ('model', 'Mustang'), ('year', 1964)])

### merge dictionaries
since python 3.9 we can use | to merge dictionaries

In [ ]:
food = {"fish": 3, "meat": 5, "pasta": 9}
colors = {"red": "intensity", "pasta": "happiness"}
# unpacking trick, **can be used multiple times
# In this case, duplicate keys are allowed. Later occurrences overwrite previous ones
merged_dict = {**food, **colors}
merged_dict

{'fish': 3, 'meat': 5, 'pasta': 'happiness', 'red': 'intensity'}

In [ ]:
dict1 = {"Jessa": 70, "Arul": 80, "Emma": 55}
dict2 = {"Kelly": 68, "Harry": 50, "Emma": 66}
# Merging Mappings with | works since python3.9
dict1 | dict2

{'Jessa': 70, 'Arul': 80, 'Emma': 66, 'Kelly': 68, 'Harry': 50}

### nested dictionary - dict in a dict

In [ ]:
myfamily = {
    "child1": {"name": "Emil", "year": 2004},
    "child2": {"name": "Tobias", "year": 2007},
}
print(myfamily["child1"])
print(myfamily["child1"]["name"])  # get value of nested dict

{'name': 'Emil', 'year': 2004}
Emil

In [ ]:
myfamily["child3"] = {"name": "Luna"}  # add a item/key-value pair
myfamily["child3"]["year"] = "2004"  # add value afterwards
myfamily["child3"]["health"] = "obese"  # add an extra key

print(myfamily["child3"])
del myfamily["child3"]["health"]  # delete an item in the nested dict
print(myfamily["child3"])

{'name': 'Luna', 'year': '2004', 'health': 'obese'}
{'name': 'Luna', 'year': '2004'}

### dictionay of dictionaries

In [ ]:
class_six = {
    "student1": {"name": "Jessa", "state": "Texas", "city": "Houston", "marks": 75},
    "student2": {"name": "Emma", "state": "Texas", "city": "Dallas", "marks": 60},
    "student3": {"name": "Kelly", "state": "Texas", "city": "Austin", "marks": 85},
}

In [ ]:
# Iterating outer dictionary
print("\nClass details\n")
for key, value in class_six.items():  # Iterating through nested dictionary
    print(key)
    for nested_key, nested_value in value.items():  # Display each student data
        print(nested_key, ":", nested_value)
    print("\n")

Class details

student1
name : Jessa
state : Texas
city : Houston
marks : 75


student2
name : Emma
state : Texas
city : Dallas
marks : 60


student3
name : Kelly
state : Texas
city : Austin
marks : 85

### max or min of a dictionary

In [ ]:
d = {1: "aaa", 2: "bbb", 3: "AAA"}
max(d)  # 3
min(d)  # 1

1

### dictionary + any & all

In [ ]:
# any is a equivalent to writing a series of OR statements
# all is eq. to a series of AND statements
print(any({1: "True", 1: "True"}))
print(all({1: "True", 0: "False"}))
print()
print(any({1: True}))
print(all({1: True}))
print()
print(any({0: False}))
print(all({0: False}))

True
False

True
True

False
False

### dictionaries summary

In [ ]:
d1 = {"a": 10, "b": 20}  # Create a dictionary using a dict() constructor.
d2 = {}  # Create an empty dictionary.
d3 = {'f': 90, 'h':120}

d2["c"] = 40  # add new key-value pair

# update existing value
d1["b"] = 30
d1.update({"a": 50})
d1.update(d2)  # Add all items of dictionary d2 into d1.

# Retrieve value using the key name a.
d1["a"]
d1.get("a")



# keys, values, items
d1.keys()  # list of keys
d1.values()  # list with all the values
d1.items()  # list of all the items,  each key-value pair as a tuple.

len(d1)  # Returns number of items in a dictionary.
d2.setdefault("g", 70)  # Set the default value if a key doesn’t exist.
"key" in d1.keys()  # Check if a key exists in a dictionary.

# remove key
d1.pop("a")
d1.popitem()  # Remove any random item from a dictionary.
d2.clear()  # Removes all items from the dictionary.

d2 = d1.copy()  # Copy dictionary d1 into d2.


d4 = {**d1, **d3}  # Join two dictionaries.

max(d1)  # Returns the key with the maximum value in the dictionary d1
min(d1)  # Returns the key with the minimum value in the dictionary d1

sorted(d4.items(), key=lambda x: x[1], reverse=True) # reverse sorted by values

# glue key-value pairs together form two lists with corresponding elements
a = ['IG', 'HF']
b = [600, 999]
z = dict(zip(a,b))
z

# dictionary comprehension
comp = {number*1.2: code for code, number in sorted(z.items()) if number >  500}
comp

# find values or keys by the index of their counterpart
idx = list(comp.keys()).index(720)
list(comp.values())[idx]

c = {1200: 'ZJ', 850:'KL'}
# merge dictionaries
comp | c

{1198.8: 'HF', 720.0: 'IG', 1200: 'ZJ', 850: 'KL'}

# Collections
- are found in  collections module
- The collections module provides alternatives to built-in container data types
- see extra collections notebook in this repo.

## Basic collections
collections
- __namedtuple()__ - factory function for creating tuple subclasses with named fields
- __deque__ - list-like container with fast appends and pops on either end
- __ChainMap__ - dict-like class for creating a single view of multiple mappings
- __Counter__ - dict subclass for counting hashable objects
- __OrderedDict__ - dict subclass that remembers the order entries were added
- __defaultdict__ - dict subclass that calls a factory function to supply missing values
- __UserDict__ - wrapper around dictionary objects for easier dict subclassing
- __UserList__ - wrapper around list objects for easier list subclassing
- __UserString__ - wrapper around string objects for easier string subclassing

### defaultdict

In [ ]:
from collections import defaultdict
import pprint


document = "A defaultdict is like a regular dictionary... "

word_counts = defaultdict(int)  # int() produces 0
for word in document:
    word_counts[word] += 1

pprint.pp(word_counts)

dd_list = defaultdict(list)  # list() produces an empty list
dd_list[2].append(1)  # now dd_list contains {2: [1]}

dd_dict = defaultdict(dict)  # dict() produces an empty dict
dd_dict["Joel"]["City"] = "Seattle"  # {"Joel" : {"City": Seattle"}}

dd_pair = defaultdict(lambda: [0, 0])
dd_pair[2][1] = 1  # now dd_pair contains {2: [0, 1]}

defaultdict(<class 'int'>,
            {'A': 1,
             ' ': 7,
             'd': 3,
             'e': 3,
             'f': 1,
             'a': 4,
             'u': 2,
             'l': 3,
             't': 3,
             'i': 5,
             'c': 2,
             's': 1,
             'k': 1,
             'r': 3,
             'g': 1,
             'o': 1,
             'n': 1,
             'y': 1,
             '.': 3})

### namedtuple()
- The namedtuple() function returns a tuple-like object with named fields. 
- These field attributes are accessible by lookup as well as by index. 
- Named tuples allow you to create tuples and assign meaningful names to the positions of the tuple’s elements.
- Technically, a named tuple is a subclass of tuple. On top of that, it adds property names to the positional elements.</br>

In [ ]:
from collections import namedtuple

Car = namedtuple('Car', 'Price Mileage Colour Class')
xyz = Car(Price=100000, Mileage=30, Colour='Cyan', Class='Y')
print(xyz)
print(xyz.Price) # values are accesible by name
print(xyz[2]) # or index

Car(Price=100000, Mileage=30, Colour='Cyan', Class='Y')
100000
Cyan

In [ ]:
Point = namedtuple('Point', 'x y') # alternative naming 
p1 = Point(10, 20)
p2 = Point(30, 40)

print(p1)
print(p2.x) # instead of p2[1]

p1 = p1._replace(x=15)  # change value using it's name
print(p1)

Point(x=10, y=20)
30
20
Point(x=15, y=20)

### OrderedDict()
- An OrderedDict is a dictionary that remembers the order of the keys that were inserted first. 
- If a new entry overwrites an existing entry, the original insertion position is left unchanged.
- pop item from the top is possible
- since Python 3.7 normal dict remeber the insertion order too, a few differences still remain see here:
https://docs.python.org/3/library/collections.html#ordereddict-objects

In [ ]:
from collections import OrderedDict 
od = OrderedDict()
od['A'] = 65
od['C'] = 67
od['B'] = 66
od['D'] = 68

od

OrderedDict([('A', 65), ('C', 67), ('B', 66), ('D', 68)])

In [ ]:
first = od.popitem(False) # removes first item in the dict
last = od.popitem() # removes the last
print(first)
print(last)
print(od)

('A', 65)
('D', 68)
OrderedDict([('C', 67), ('B', 66)])

In [ ]:
od['A'] = 65
od['D'] = 68

# normal_dict["A"] = d.pop("A")
od.move_to_end("A") # moves "A" to the first place
od.move_to_end("D", False) # moves "D" to the end
od

OrderedDict([('D', 68), ('C', 67), ('B', 66), ('A', 65)])

In [ ]:
od["A"]+=10 # add 10 to "A"
od

OrderedDict([('D', 68), ('C', 67), ('B', 66), ('A', 75)])

In [ ]:
a = OrderedDict({'a': 1, 'b': 2, 'c': 3})
b = OrderedDict({'a': 1, 'c': 3, 'b': 2})
c = {'a': 1, 'c': 3, 'b': 2}

print(a==b) # order matters for OrderdDict
print(a==c) # for ordinary dict order does not matter

False
True

### __defaultdict__
- A defaultdict is like a regular dictionary, except when you look up an non-existing
key, it adds a default value for that key.
- With other dictionaries you'd have to check to see if that key exists, 
and if it doesn't, set it.

In [ ]:
from collections import defaultdict

document = '''A defaultdict is like a regular dictionary... '''

# int() assigns a value of 0 when we look for a non-existing key in letter_counts
letter_counts = defaultdict(int)

# add letters as keys and count their occurance
for letter in document:
    letter_counts[letter] += 1

# looking up non-existing letters adds these letters as keys with a value of 0
letter_counts['Z']
letter_counts['w']
letter_counts['ß']

letter_counts

defaultdict(int,
            {'A': 1,
             ' ': 7,
             'd': 3,
             'e': 3,
             'f': 1,
             'a': 4,
             'u': 2,
             'l': 3,
             't': 3,
             'i': 5,
             'c': 2,
             's': 1,
             'k': 1,
             'r': 3,
             'g': 1,
             'o': 1,
             'n': 1,
             'y': 1,
             '.': 3,
             'Z': 0,
             'w': 0,
             'ß': 0})

In [ ]:
from collections import defaultdict

d = defaultdict(list) # empty dicionary
d['python'].append("awesome") # call initiates a key="python" and a list containing "awsome"
d['something-else'].append("not relevant")
d['python'].append("language") # the list gets updated
d['python'].append("language") # the list gets updated


print(*d.items())

('python', ['awesome', 'language', 'language']) ('something-else', ['not relevant'])

In [ ]:
s = [('red', 1), ('blue', 2), ('red', 3), ('blue', 4), ('red', 1), ('blue', 4)]
ds = defaultdict(set)
[ds[k].add(v) for k, v in s] # add works only with sets
sorted(ds.items())

[('blue', {2, 4}), ('red', {1, 3})]

In [ ]:
dd_dict = defaultdict(dict) # dict() produces an empty dict
dd_dict["Joel"]["City"] = "Seattle"
dd_dict["Mike"]["City"] = {"Seattle": "Downtown"} # nested dicionary
dd_dict

defaultdict(dict,
            {'Joel': {'City': 'Seattle'},
             'Mike': {'City': {'Seattle': 'Downtown'}}})

In [ ]:
# The function int() which always returns zero is just a special case of constant functions.
# A more flexible way to create constant functions is to use a lambda
# function which can supply any constant value.
def custom_default(value):
    return lambda: value

d = defaultdict(custom_default('<missing>')) # now <missing> is the default value for keys 
d.update(name='John', action='ran')
'%(name)s %(action)s to %(object)s' % d

NameError: name 'name' is not defined

In [ ]:
dd_pair = defaultdict(lambda: [0, 0])
dd_pair[2][1] = 1 
dd_pair

defaultdict(<function __main__.<lambda>()>, {2: [0, 1]})

In [ ]:
fruits = ['apple', 'pear', 'banana', 'apple', 'peach', 'cherry', 'banana']
fruitCounter={} # dict that should count the fruits

for fruit in fruits:
    if fruit in fruitCounter.keys():   # error if there is no fruit initilized in the dict
        fruitCounter[fruit] += 1
    else:
        fruitCounter[fruit] = 1  # thus we need to check and insert a key (fruit) first 

fruitCounter

{'apple': 2, 'pear': 1, 'banana': 2, 'peach': 1, 'cherry': 1}

In [ ]:
# above code can be shortened and the
# initilizing switched with a defaultdict
from collections import defaultdict
# int is the factory fct. and produces a default key if there is none
fruitCounter = defaultdict(lambda: 100)

for fruit in fruits:
# now no chceking for key is required bc. defaultdict sets a default key
        fruitCounter[fruit] += 1

for k, v in fruitCounter.items():
    print(k,':', v)

apple : 102
pear : 101
banana : 102
peach : 101
cherry : 101

### Counter
- A counter is a container that stores elements as dictionary keys, and their counts are stored as dictionary values.
- dict that counts hashable objects

In [ ]:
from collections import Counter
counter = Counter([0, 1, 2, 0])

print(counter.items())
print(counter.keys())
print(counter.values())

print(counter.most_common(1))

dict_items([(0, 2), (1, 1), (2, 1)])
dict_keys([0, 1, 2])
dict_values([2, 1, 1])
[(0, 2)]
dict_values([2, 1, 1])

In [ ]:
c1 = Counter(["Bernd", "Bob", "Bob", "Jürgen", "Jenny"])
c2 = Counter(["Bernd", "Bob", "Jürgen"])

print(c1) 
# update like a dictionary
c1.update(c2)
print(c1)
c1.most_common()

Counter({'Bob': 2, 'Bernd': 1, 'Jürgen': 1, 'Jenny': 1})
Counter({'Bob': 3, 'Bernd': 2, 'Jürgen': 2, 'Jenny': 1})

[('Bob', 3), ('Bernd', 2), ('Jürgen', 2), ('Jenny', 1)]

In [ ]:
c1.subtract(c2) # separate the sets again
print(c1)

Counter({'Bob': 2, 'Bernd': 1, 'Jürgen': 1, 'Jenny': 1})

In [ ]:
print(c1 & c2) # common objects in both

Counter({'Bernd': 1, 'Bob': 1, 'Jürgen': 1})

### deque
- A deque is a double-ended queue, pronounced 'deck'.
- Accessible from both sides, one can add or remove elements from both ends.
- appendleft(), append(), popleft(), pop(), rotate(): 
- A deque is more efficient than a normal list object, where the removal of any item causes all items <br>
to the right to be shifted towards left by one index. 
- Deque is preferred over a list when we want to append or pop from both sides of a container.
- As deque provides an O(1) time complexity for append and pop operations where list provides O(n).

In [ ]:
from collections import deque

q=deque([10,20,30,40])
q.pop(); q # drops last appended (right) item
q.popleft(); q 
q.appendleft(0); q
q.append(50); q

deque([0, 20, 30, 50])

In [ ]:
from collections import deque
import string
d = deque(string.ascii_lowercase) # initilized with lowercase letters

print(d)

deque(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'])

In [ ]:
d.pop() 
d.popleft() 
d.appendleft(1) 
d.append(30)
d.extend([4, 5, 6])
d.extendleft(['D', 'F', 'G'])
# d.clear()
# d.remove("j")
d.reverse()
print(d)
d.count("c")

deque([6, 5, 4, 30, 5, 4, 30, 5, 4, 30, 5, 4, 30, 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 1, 'D', 'F', 1, 'D', 'F', 1, 'D', 'F', 1, 'D', 'F', 'G'])

1

In [ ]:
from collections import deque
import string

d = deque(string.ascii_lowercase)
print(d)
# rotates the sequence,
# -n takes first n elements to the end (right)
# +n takes the last n elements to the front (left)
d.rotate(20)
print(d)

deque(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'])
deque(['g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'a', 'b', 'c', 'd', 'e', 'f'])

In [ ]:
print(*d)

6 5 4 30 5 4 30 5 4 30 5 4 30 y x w v u t s r q p o n m l k i h g f e d c b 1 D F 1 D F 1 D F 1 D F G