In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("https://drive.google.com/uc?id=1oE-3rt17bFW7fOzDIjwFSEMPTIV3NvcO")
df

,school_id,grade,class,student_id,sex,nationality,grade_math_t1,grade_language_t1,grade_science_t1,grade_math_t2,grade_language_t2,grade_science_t2,treatment,date_of_birth
0,57,6,A,wvqgd@cunb.edu,1,1,2.046285,2.369783,2.711344,1.175309,1.498807,1.840368,1,1997-07-27
1,57,6,A,j0ihe@cunb.edu,1,2,7.859077,7.206984,6.994455,7.548812,6.896719,6.684190,1,1997-06-24
2,57,6,A,wcjgk@cunb.edu,2,1,7.118976,8.057449,8.573210,6.181019,7.119492,7.635253,1,1997-04-23
3,57,6,A,mzmqb@cunb.edu,1,1,6.973737,7.388008,6.628448,7.593102,8.007373,7.247812,1,1997-02-24
4,57,6,A,s6n0y@cunb.edu,1,1,6.574877,6.773626,7.844316,7.611065,7.809814,8.880504,1,1996-09-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1505,946,8,D,jj36e@cunb.edu,1,1,4.938375,5.306647,4.985917,6.162418,6.530690,6.209960,0,1995-07-04
1506,946,8,D,ca1dg@cunb.edu,1,1,7.661931,8.360153,7.937165,8.179364,8.877586,8.454598,0,1995-08-23
1507,946,8,D,amdrx@cunb.edu,1,1,9.248758,8.534791,8.056641,8.773601,8.059634,7.581484,0,1994-12-15
1508,946,8,D,yn5ug@cunb.edu,1,2,5.689228,5.071503,5.338547,6.382995,5.765270,6.032315,0,1994-09-18
1509,946,8,A,eohgp@cunb.edu,1,1,9.768719,10.000000,8.493072,9.515601,9.746882,8.239953,0,1994-12-19

## group

<details>

The Pandas groupby method uses a process known as split, apply, and combine to provide useful aggregations or modifications to your DataFrame. This process works as just as its called:

- **Splitting** the data into groups based on some criteria
- **Applying** a function to each group independently
- **Combing** the results into an appropriate data structure
</details>

In [37]:
# df.groupby('school_id')
# df.groupby('school_id').ngroups
# df.groupby('school_id').groups
# df.groupby('school_id').groups.keys()
# df.groupby('school_id').get_group(141)
# df.groupby('school_id').count()
df.groupby("school_id")["student_id"].count()
df.groupby("school_id")["grade_math_t1"].mean().sort_values(ascending=False).round(2)

school_id
946    6.81
141    6.73
499    6.72
881    6.70
812    6.69
458    6.61
262    6.59
426    6.59
60     6.57
57     6.53
Name: grade_math_t1, dtype: float64

## Filtering

In [46]:
df[df["grade_math_t1"] > 7]
df[df["grade_math_t1"] > 7][["student_id", "grade_math_t1"]]
df[df["grade_math_t1"] > 7][["student_id", "grade_math_t1"]].sort_values("grade_math_t1", ascending=False).head(3)

          student_id  grade_math_t1
1364  8vmwt@cunb.edu           10.0
97    tqgis@cunb.edu           10.0
451   swejn@cunb.edu           10.0

In [69]:
df[(df["grade_math_t1"] > 9.7) & (df["grade_math_t2"] > 9.7)]

,school_id,grade,class,student_id,sex,nationality,grade_math_t1,grade_language_t1,grade_science_t1,grade_math_t2,grade_language_t2,grade_science_t2,treatment,date_of_birth
31,57,6,C,0eiwm@cunb.edu,1,1,9.737252,10.000000,8.927517,10.000000,10.000000,9.194739,1,1997-03-25
97,57,7,D,tqgis@cunb.edu,1,1,10.000000,8.995439,8.505144,10.000000,10.000000,9.760000,1,1995-09-04
451,262,6,A,swejn@cunb.edu,1,1,10.000000,10.000000,9.368304,10.000000,10.000000,9.377335,1,1997-03-26
740,426,8,D,hb3cd@cunb.edu,1,1,9.700488,9.206014,9.583611,10.000000,9.549309,9.926906,1,1994-12-06
900,499,6,B,c0ivs@cunb.edu,1,1,9.784993,9.058797,9.391264,9.926020,9.199824,9.532291,1,1996-09-15
976,499,7,C,x016s@cunb.edu,1,1,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1,1996-03-28
983,499,7,D,4wurs@cunb.edu,1,1,9.786573,10.000000,8.809854,10.000000,10.000000,10.000000,1,1995-09-15
1209,881,6,A,35q5v@cunb.edu,1,1,9.718762,8.187278,8.050173,10.000000,9.984680,9.847575,1,1997-02-17
1370,946,6,A,j9ny8@cunb.edu,1,1,9.972244,8.168792,9.198742,10.000000,8.905208,9.935159,1,1997-06-14
1469,946,8,A,9zjxw@cunb.edu,1,1,9.726560,8.543301,9.302289,10.000000,9.631962,10.000000,0,1995-03-20
1471,946,8,A,opwwd@cunb.edu,1,1,9.931566,9.399936,9.087036,9.821719,9.290089,8.977189,0,1995-05-22

In [87]:
df_f = df[(df["sex"] == 2)  &  (df["grade_math_t1"] > 9) & (df["grade_math_t2"] > 9)]
df_m = df[(df["sex"] == 1)  &  (df["grade_math_t1"] > 9.7) & (df["grade_math_t2"] > 9.7)]

In [92]:
# df_fm = pd.concat([df_f, df_m]).sort_index() # df.append deprecated
df_fm2 = df_fm.reset_index(drop=True)
df_fm2

,school_id,grade,class,student_id,sex,nationality,grade_math_t1,grade_language_t1,grade_science_t1,grade_math_t2,grade_language_t2,grade_science_t2,treatment,date_of_birth
0,57,6,C,0eiwm@cunb.edu,1,1,9.737252,10.000000,8.927517,10.000000,10.000000,9.194739,1,1997-03-25
1,57,7,D,tqgis@cunb.edu,1,1,10.000000,8.995439,8.505144,10.000000,10.000000,9.760000,1,1995-09-04
2,141,6,B,4xcir@cunb.edu,2,1,9.052874,8.364379,9.084594,10.000000,9.318442,10.000000,0,1996-12-08
3,141,7,D,d1vbx@cunb.edu,2,1,9.370844,8.737321,7.827316,10.000000,9.930060,9.020055,0,1996-02-27
4,262,6,A,swejn@cunb.edu,1,1,10.000000,10.000000,9.368304,10.000000,10.000000,9.377335,1,1997-03-26
5,262,6,D,z73xp@cunb.edu,2,1,9.414306,8.765371,9.524060,10.000000,9.415140,10.000000,0,1996-11-24
6,426,6,D,fc3yb@cunb.edu,2,1,9.036513,8.851799,9.672274,10.000000,10.000000,10.000000,1,1997-08-05
7,426,8,C,pfxhr@cunb.edu,2,1,9.209376,7.579655,7.833640,10.000000,9.292030,9.546015,1,1995-01-22
8,426,8,D,hb3cd@cunb.edu,1,1,9.700488,9.206014,9.583611,10.000000,9.549309,9.926906,1,1994-12-06
9,458,7,A,cm7tj@cunb.edu,2,1,9.726741,9.277647,8.730910,9.325816,8.876722,8.329985,1,1996-08-28
10,499,6,B,c0ivs@cunb.edu,1,1,9.784993,9.058797,9.391264,9.926020,9.199824,9.532291,1,1996-09-15
11,499,7,C,x016s@cunb.edu,1,1,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1,1996-03-28
12,499,7,D,4wurs@cunb.edu,1,1,9.786573,10.000000,8.809854,10.000000,10.000000,10.000000,1,1995-09-15
13,499,8,C,ddcon@cunb.edu,2,1,9.043050,8.644384,8.767195,10.000000,10.000000,10.000000,0,1994-10-13
14,812,8,A,vxb5b@cunb.edu,2,1,9.254457,9.523150,8.284669,9.907035,10.000000,8.937248,0,1994-10-27
15,881,6,A,35q5v@cunb.edu,1,1,9.718762,8.187278,8.050173,10.000000,9.984680,9.847575,1,1997-02-17
16,881,6,D,deybq@cunb.edu,2,1,9.094030,9.664780,9.237583,9.881028,10.000000,10.000000,1,1996-12-16
17,946,6,A,j9ny8@cunb.edu,1,1,9.972244,8.168792,9.198742,10.000000,8.905208,9.935159,1,1997-06-14
18,946,8,A,23zxo@cunb.edu,2,1,9.115907,8.602313,9.166211,10.000000,9.641834,10.000000,0,1995-06-15
19,946,8,A,9zjxw@cunb.edu,1,1,9.726560,8.543301,9.302289,10.000000,9.631962,10.000000,0,1995-03-20
20,946,8,A,opwwd@cunb.edu,1,1,9.931566,9.399936,9.087036,9.821719,9.290089,8.977189,0,1995-05-22