## Lists
- mutable sequence of values
- List items are **indexed**, the first item has index [0],
- to store multiple items of **different types** in a single variable.
- List items are **ordered, changeable, and allow duplicate values**.

INDEXING:
- list[i]        # Get item at index i
- list[-i]       # Get item i positions from end

SLICING:
- list[start:stop]       # Items from start to stop-1
- list[start:]           # Items from start to end
- list[:stop]            # Items from beginning to stop-1
- list[:]                # Shallow copy of entire list
- list[start:stop:step]  # Every step-th item from start to stop-1
- list[::-1]             # Reverse the list
- list[::step]           # Every step-th item

REMEMBER:
- Indices start at 0
- Negative indices count from the end (-1 is last)
- Stop index is EXCLUSIVE
- Slicing never raises IndexError (returns empty list if out of range)
- Slicing creates a new list (shallow copy)

In [3]:
x = [True, "two", 3, [4j, 5, "six"], None]

### List Indexing

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "elderberry", "fig", "grape"]

# Positive indexing (starts at 0)
print(fruits[3])  # fourth item

# Negative indexing (starts at -1 from the end)
print(fruits[-2])  # second to last

apple
date
grape
grape
fig
apple

### List Slicing

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Syntax: list[start:stop]  (stop is EXCLUSIVE)
print(numbers[2:5])  # [2, 3, 4] - from index 2 to 5 (exclusive)

# Negative indices in slicing
print(numbers[-5:-2])  # [5, 6, 7] - from -5 to -2 (exclusive)
print(numbers[-3:])  # [7, 8, 9] - last three items

[2, 3, 4]
[0, 1, 2]
[4, 5, 6]
[5, 6, 7]
[7, 8, 9]

#### Slicing with defaults

In [ ]:
# Omitting start (defaults to 0)
print(numbers[:4])  # from beginning to index 4

# Omitting stop (defaults to end of list)
print(numbers[5:])  # from index 5 to end

# Omitting both (creates a copy)
print(numbers[:])  # full copy

####  Slicing with steps

In [ ]:
# Syntax: list[start:stop:step]
print(numbers[::2])  # every second item
print(numbers[1::2])  # every second item starting from index 1
print(numbers[1:9:3])  # from 1 to 9, every third item

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[0, 3, 6, 9]
[1, 4, 7]

#### Negative step

In [21]:
# Reverse entire list
print(numbers[::-1])  # [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
print( fruits[::-1] )  
# ['grape', 'fig', 'elderberry', 'date', 'cherry', 'banana', 'apple']

# Reverse with step
print(numbers[::-3])  # [9, 6, 3, 0] - every third item, reversed

# Reverse a slice
print(numbers[8:3:-2])  # [8, 6, 4] - from 8 to 3, every second, backwards

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
['grape', 'fig', 'elderberry', 'date', 'cherry', 'banana', 'apple']
[9, 6, 3, 0]
[8, 6, 4]

#### Modify with Slicing

In [26]:
letters = ["a", "b", "c", "d", "e", "f"]

# Replace a slice
letters[1:3] = ["B", "C"]
print(letters)  # ['a', 'B', 'C', 'd', 'e', 'f']

# Replace with different length
letters[2:4] = ["X", "Y", "Z"]
print(letters)  # ['a', 'B', 'X', 'Y', 'Z', 'e', 'f']

# Delete a slice
letters[3:5] = []
print(letters)  # ['a', 'B', 'X', 'e', 'f']

# Insert without replacing (empty slice)
letters[2:2] = ["INSERT"]
print(letters)  # ['a', 'B', 'INSERT', 'X', 'e', 'f']

['a', 'B', 'C', 'd', 'e', 'f']
['a', 'B', 'X', 'Y', 'Z', 'e', 'f']
['a', 'B', 'X', 'e', 'f']
['a', 'B', 'INSERT', 'X', 'e', 'f']

#### Common Patterns with Slicing

In [ ]:
data = [10, 20, 30, 40, 50, 60, 70, 80, 90]

# First half
first_half = data[: len(data) // 2]
print(first_half)  # [10, 20, 30, 40]

# Second half
second_half = data[len(data) // 2 :]
print(second_half)  # [50, 60, 70, 80, 90]

# Remove first element
without_first = data[1:]
print(without_first)  # [20, 30, 40, 50, 60, 70, 80, 90]

# Remove last element
without_last = data[:-1]
print(without_last)  # [10, 20, 30, 40, 50, 60, 70, 80]

# Palindrome check (using slicing)
word = "racecar"
is_palindrome = word == word[::-1]
print(is_palindrome)  # True

In [ ]:
### list methods
print(dir(x)[:3])

# see list methods
[fct for fct in dir(x) if "__" not in fct]  # exclude __dunder__

['__add__', '__class__', '__class_getitem__']

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#### Element extraction vs Subsetting
Knowing the difference between element extraction and subsetting a sequence (creating a subsequence) is crucial.

In [ ]:
x = [9, 3, 4]

# extraction (indexing with a single integer)
print(x[0],type(x[0]))

# subsetting (indexing with a slice), gives the object of the same type as x (here, a list)
print(x[0:1], type(x[0:1]))

9 <class 'int'>
[9] <class 'list'>

### List Methods

In [4]:
print(dir(x)[:3])

# see list methods
[fct for fct in dir(x) if "__" not in fct]  # exclude __dunder__

['__add__', '__class__', '__class_getitem__']

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

<details>
<summary> List methods - Click to expand</summary>

append()    # Adds an element at the end of the list  <br>
clear()	        # Removes all the elements from the list <br>
copy()          # Returns a copy of the list <br>
count()	       # Returns the number of elements with the specified value <br>
extend()	  # Add the elements of a list (or any iterable), to the end of the current list <br>
index()	        # Returns the index of the first element with the specified value <br>
insert()	    # Adds an element at the specified position <br>
pop()	        # Removes the element at the specified position <br>
remove()	# Removes the item with the specified value <br>
reverse()	 # Reverses the order of the list <br>
sort()	        # Sorts the list <br>

</details>

#### list constructor

In [ ]:
# list constructor list()
names = list(("John", "Marco", "Marry", "Julia", "John"))  # note the double round-brackets
# the constructor is an alternative of
names2 = ["John", "Marco", "Marry", "Julia", "John"]
print(names)

['John', 'Marco', 'Marry', 'Julia', 'John']

#### extend, append, pop, remove

In [101]:
names[0] = "Johannes"  # updates the list/ replace a value lists are mutable
print(names)

names[0:2] = ["Hannah", "Ria"]  # replace first two
print(names)

names.extend(["Frederik", "Youssuf"]) # for multiple elements
print(names)

names.append("Latifa") # for one element
print(names)

names.pop()  # drops last entry
print(names)

names.remove("Ria")  # removes Ria
print(names)

['Johannes', 'Marry', 'Julia', 'John', 'Frederik', 'Youssuf']
['Hannah', 'Ria', 'Julia', 'John', 'Frederik', 'Youssuf']
['Hannah', 'Ria', 'Julia', 'John', 'Frederik', 'Youssuf', 'Frederik', 'Youssuf']
['Hannah', 'Ria', 'Julia', 'John', 'Frederik', 'Youssuf', 'Frederik', 'Youssuf', 'Latifa']
['Hannah', 'Ria', 'Julia', 'John', 'Frederik', 'Youssuf', 'Frederik', 'Youssuf']
['Hannah', 'Julia', 'John', 'Frederik', 'Youssuf', 'Frederik', 'Youssuf']

#### Concatenate lists

In [102]:
m = ["herbert", "james"]
o = ["murat", "gaston"]

# append one element to a list
m.append("sasha") 

# concatenate lists
m2 = m + o # concat

print(m)
print(m2)

['herbert', 'james', 'sasha']
['herbert', 'james', 'sasha', 'murat', 'gaston']

#### insert

In [103]:
# insert an element in a list at a specific index
o.insert(0, "ferdinand")
o.insert(2, "lutz")
print(o)

['ferdinand', 'murat', 'lutz', 'gaston']

#### index

In [104]:
# gives index of the value "gaston" back
print(o.index("gaston"))

3

In [105]:
# number of gastons in a list
print(o.count("gaston"))

1

In [112]:
print(o.pop()) # removes and returns the last element

ferdinand

#### sort, sorted
- sorted() function has an optional parameter called ‘key’ which takes a function as its value.

In [119]:
cars = ["Ford", "BMW", "Volvo"]
cars.sort()
cars

['BMW', 'Ford', 'Volvo']

In [ ]:
x = [2, 3, 89, 4, 9, 1]
print(sorted(x))  # temporarily sorted
print(x)

s = ["hello", "ciao", "by", "see you"]
sorted(s, key=len)  # sorts by len()

[1, 2, 3, 4, 9, 89]
[2, 3, 89, 4, 9, 1]

['by', 'ciao', 'hello', 'see you']

In [121]:
cars = ["Ford", "BMW", "Volvo"]
cars.reverse()
cars

['Volvo', 'BMW', 'Ford']

In [ ]:
x = [2, 3, 89, 3, 9, 1]

# sorts the original list permanently, from smallest to highest value or reversed
x.sort(reverse=True)  
print(x)

print(x.count(3))  # counts the occurrences

[89, 9, 3, 3, 2, 1]
2

#### lambda sort

In [ ]:
name_list = ["Zen Jack", "Luigi Austin", "Ben Benson", "John Ann"]
print( "Original list", name_list )  

# sort by last name
name_list.sort(key=lambda x: x.split()[1])
print("Sorted name list", name_list)

Original list ['Zen Jack', 'Luigi Austin', 'Ben Benson', 'John Ann']
Sorted name list ['John Ann', 'Luigi Austin', 'Ben Benson', 'Zen Jack']

In [143]:
# sort by second element of the tuple and descending biggest to smallest
tup_lst = [(1,4), (4,7), (2, 7), (9, 13)]
tup_lst.sort(key=lambda x: x[1], reverse=True)
print(tup_lst)

[(9, 13), (4, 7), (2, 7), (1, 4)]

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6]
numbers.clear()  # clears the whole list
numbers

[]

### in, len

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(1 in numbers)  # is there a "1" in "numbers"?

numbers = [1, 2, 3, 4, 5]
print(len(numbers))

True
5

### Iterate over List

In [ ]:
### iterate over a list
supplies = ["pens", "staplers", "flamethrowers", "binders"]
for x in supplies:
    print(x)

### enumarate()
enumerate() will return two values: the index and the item in the list.

In [ ]:
supplies = ["pens", "staplers", "flamethrowers", "binders"]
for index, item in enumerate(supplies):
    print(index, item)

0 pens
1 staplers
2 flamethrowers
3 binders

### Delete Duplicates

In [152]:
duplicates = [1, 1, 4, 4, 5, 6, 8]
list(set(duplicates)) # set removes duplicates

[1, 4, 5, 6, 8]

## List Comprehension
- Shorter, more readable and faster than the for loop version
- Syntax: `newlist = [i for i in items if condition]`

In [122]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

[fruit for fruit in fruits if "a" in fruit]

['apple', 'banana', 'mango']

In [ ]:
[x for x in range(0,11) if  x%2 == 0]

[0, 2, 4, 6, 8, 10]

In [ ]:
lst = [32, 65, 104, 212]

# a list of converted elements can be produced like this or...
def FahrenheitToCelsius(t):
    return (t * 9 / 5) + 32

print(list(map(FahrenheitToCelsius, lst)))

# and even a lambda fct is more laborious
fahrenheit = lambda t: (t * 9 / 5) + 32
print(list(map(fahrenheit, lst)))

# than a list comprehension
[(t * 9 / 5) + 32 for t in lst]

[89.6, 149.0, 219.2, 413.6]
[89.6, 149.0, 219.2, 413.6]

[89.6, 149.0, 219.2, 413.6]

### For-Loop vs Comprehension

In [159]:
# for loop
squares = []
for i in range(11): # for loop 
    squares.append(i * i) # adding items
    
print(squares)

# all can be done in one line with comprehensions
odd_squares = [x * x for x in range(11)]
odd_squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Comprehensions for different data types

In [ ]:
# Comprehensions work for different data types
dict_comp = {i: i * i for i in range(10)}  # dictionary -  key: value and curly brackets
list_comp = [x * x for x in range(10)]  # list brackets
set_comp = {i % 3 for i in range(10)}  # set - curly brackets no key
gen_comp = (2 * x + 5 for x in range(10))  # generator - parentheses

In [165]:
type(set_comp)
set_comp

{0, 1, 2}

In [163]:
type(gen_comp)
[x for x in gen_comp]

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

### Conditional Expression + List Comprehension

In [172]:
# [f(x) if condition else g(x) for x in sequence]
xs = [1, 2, 3, None]
[x**2 if x is not None else '' for x in xs]

[1, 4, 9, '']

In [ ]:
odds = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[e**2 for e in odds if e > 3 and e < 17]

[25, 49, 81, 121, 169, 225]

In [ ]:
# generate lists by applying an expression to each item in an iterable and then filters
even_numbers = [x**2 for x in range(10) if x % 2 == 0 and x != 0]
print(even_numbers)

[4, 16, 36, 64]

In [ ]:
"""matrix product of a, b of length n x n"""
# list comprehension can get messy, and un-readable
c = [ sum(a[n * i + k] * b[n * k + j] for k in range(n)) for i in range(n) for j in range(n) ]

# think about readability
c = []
for i in range(n):
    for j in range(n):
        ij_entry = sum(a[n * i + k] * b[n * k + j] for k in range(n))
        c.append(ij_entry)
    return c

## Identifying the Differences in Lists

In [ ]:
list_1 = [1, 3, 5, 7, 8]
list_2 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

solution_1 = list(set(list_2) - set(list_1)) 
solution_2 = list(set(list_1) ^ set(list_2))  # symmetric difference operator (^)
solution_3 = list(set(list_1).symmetric_difference(set(list_2)))  # symmetric difference methods

print(f"Solution 1: {solution_1}")
print(f"Solution 2: {solution_2}")
print(f"Solution 3: {solution_3}")

Solution 1: [9, 2, 4, 6]
Solution 2: [2, 4, 6, 9]
Solution 3: [2, 4, 6, 9]

## Nested Lists & Matrices

In [ ]:
a = ["a", "b", "c"]
b = [1, 2, 3]

x = [a, b] # list of lists
y = a + b # concatenation

print(x)
print(y)

[['a', 'b', 'c'], [1, 2, 3]]
['a', 'b', 'c', 1, 2, 3]

In [208]:
[[c for c in range(3)] for r in range(5)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
# 3x3 Matrix with Values 1–9
[[r * 3 + c + 1 for c in range(3)] for r in range(3)]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
# 3x3 Matrix with Random Values
import random
[[random.randint(1, 100) for c in range(3)] for r in range(3)]

[[47, 44, 45], [23, 4, 44], [73, 100, 75]]

In [ ]:
# 3x3 Matrix with Values from a Pool -- sample
import random
pool = list(range(1, 100))  # Example pool
[random.sample(pool, 3) for _ in range(3)]

[[45, 98, 59], [3, 65, 58], [52, 90, 4]]

In [214]:
# values with replacement -- choice
import random

pool = list(range(1, 100))  # Example pool
[[random.choice(pool) for _ in range(3)] for _ in range(3)]

[[49, 91, 2], [82, 18, 67], [64, 65, 98]]

In [220]:
### Flatten List of Lists or Matrices
m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten = [num 
           for row in m 
           for num in row
           ]
print(flatten)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [247]:

import functools
import time

def timer(func):
    @functools.wraps(func)
    def wrapper_timer(*args, **kwargs):
        tic = time.perf_counter()
        value = func(*args, **kwargs)
        toc = time.perf_counter()
        elapsed_time = toc - tic
        p_time = elapsed_time * 1000
        print(f"Elapsed time: {p_time:0.4f} ms")
        return value

    return wrapper_timer

In [ ]:
m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# argument [] sets an initial value to start the concatenation
sum(m, [])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [239]:
from itertools import chain
m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

print(chain.from_iterable(m))
list(chain.from_iterable(m))

<itertools.chain object at 0x7bd254cc1cf0>

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
from itertools import chain

@timer
def chain_flat(matrix):
    return list(chain.from_iterable(matrix))


@timer
def flatten_concatenation(matrix):
    flat_list = []
    for row in matrix:
        flat_list += row
    return flat_list


@timer
def flatten_extend(matrix):
    flat_list = []
    for row in matrix:
        flat_list.extend(row)
    return flat_list


@timer
def sum_add(matrix):
    return sum(matrix, [])


m = [[c for c in range(300)] for r in range(500)]

flatten_concatenation(m)
flatten_extend(m)
chain_flat(m)
sum_add(m)

Elapsed time: 0.8754 ms
Elapsed time: 0.3807 ms
Elapsed time: 1.2160 ms
Elapsed time: 72.8221 ms

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 ...]

## List of Tuples

In [ ]:
increasing_pairs = [
    (x, y)  # only pairs with x < y,
    for x in range(10)  # range(lo, hi) equals
    for y in range(x + 1, 10)
]  # [lo, lo + 1, ..., hi - 1]

increasing_pairs

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 8),
 (7, 9),
 (8, 9)]


## Tuple 
- is ordered and IMMUTABLE-> they're indexed
- allows duplicate values 
- use them when you need an ordered sequence of values that never changes.
- because they are immutable, using tuples is slightly faster than code using lists.
- Tuples are a convenient way to return multiple values from functions

In [271]:
t1 = (1, 2, 4)  # tuples are unchangeable
t2 = 1, 2, 4  # also a tuple
t3 = ("abc", 34, True, 40, "male")
t4 = ("apple",)  # tuple with one item - mind the comma

# numbers[1] = 8             # TypeError b/c unchangeable

print(type(t1[2]))  # item with index 2
print(type(t2))
print(type(t3))
print(type(t4))

<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
#  Tuple Methods
numbers = (1, 2, 3, 3)
print(numbers.count(3))  # count() the occurrences of the value 3
print(numbers.index(3))  # returns the position of element in the ()

2
2

#### Unpack a tuple

In [ ]:
# tuple unpacking
mytuple = 1, 2

# unpacking 
x, y = mytuple
print(x, y)

# also allows for easy swapping of values
x, y = y, x
print(x, y)

1 2
2 1

In [ ]:
# If we want to unpack all the values of an iterable to a single variable, we must set up a tuple,
# hence adding a simple comma will be enough
(*string,) = range(7)
print(string)

('abc', 34, True, 40, 'male')
('apple',)
<class 'tuple'>
[0, 1, 2, 3, 4, 5, 6]

In [ ]:
def sum_and_product(x, y):
    return (x + y), (x * y)


sp = sum_and_product(2, 3)  # get a tuple return
s, p = sum_and_product(2, 3)  # get single values from returned tuple

print(sp)
print(s, p)

(5, 6)
5 6

## Range

Objects defi ned by calling range(from, to) or range(from, to, by) represent arithmetic progressions of integers.